body {
    padding-bottom: 60px;
}

.submit-text {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.form {
    margin: 0 auto;
    width: 50%;
}

.form-item {
    padding: 5px;
    text-align: center;
}

.img-border {
    margin: 0 auto;
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 2px dashed;
}