.home {
    padding-top: 50px;
}

.landing-text {
    margin: auto 0;
    text-align: left;
    width: 40%;
}

.title {
    font-size: 53px;
}

.subtitle {
    padding-bottom: 20px;
    font-size: 38px;
    opacity: 80%;
}

.eth-img {
    max-width: 100%;
}

.landing-btn {
    margin-right: 20px;
}