@font-face {
    font-family: "IBM Plex Mono";
    src: url('./fonts/IBMPlexMono-Regular.ttf');

}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

#app {
    font-family: IBM Plex Mono, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #FFFFFF;
}

nav {
    padding: 30px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.connect {
    display: flex;

    min-height: 36px;

    .connect-btn,
    .account {
        margin-left: auto;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}