@font-face {
    font-family: "IBM Plex Mono";
    src: url('./fonts/IBMPlexMono-Regular.ttf');

}

html,
body {
    overflow-y: hidden;
    background-color: #ffffff;
}

#app {
    font-family: IBM Plex Mono, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #000000;
}

.v-app-bar {
    border-bottom: 1px solid !important;
}